<div class="navbar">
            <button class="normalNav navi"> Normal mode </button>
            <button class="consNav navi">Constellations</button>
            <button class="talentsNav navi"> Talents </button>
            <button class="weaponsNav navi"> Weapons: Coming Soon!</button>
            <button class="colorNav navi"> Colors: Coming soon!</button>
</div>



<style>
    .navbar{
        width:89vw;
        height: 10vh;
        border: 3px solid chartreuse;
        display: flex;
        align-items: end;
        justify-content: end;
        background-color: #303030;
    }

    .navi{
        width: 15%;
        height: 100%;
        background-color: #494949;
        border: 8px #303030 outset;
        font-family: "Quicksand", sans-serif;
        font-weight: 900;
        font-size: 15px;
        color:rgb(190, 190, 190);

    }

    .navi:hover{
        border: 8px #777777 inset;
    }
</style>