<div class="navbar">
            <button class="normalNav navi"> Normal mode </button>
            <button class="consNav navi">Constellations</button>
            <button class="talentsNav navi"> Talents </button>
            <button class="weaponsNav navi"> Weapons: Coming Soon!</button>
            <button class="colorNav navi"> Colors: Coming soon!</button>
</div>