<div class="sidebar">
    <form>
        <a href="/images/vent.jpg"><input class="tiktok linker" type="button"></a>
        <a href="/images/hehe.png"><input class="insta linker" type="button"></a>
        <a href="https://genshin-impact.fandom.com/wiki/Genshin_Impact_Wiki"><input class="wiki linker" type="button"></a>
        <a href="/images/dawei.jpg"><input class="personal linker" type="button"></a>
        <a href="https://genshindle.com/"><input class="genshindle linker" type="button"></a>
        <a href="https://genshin.hoyoverse.com/en/"><input class="hoyopage linker" type="button"></a>
        <a href="https://www.hoyolab.com/home"><input class="hoyolab linker" type="button"></a>
    </form>
</div>


<style>
    .sidebar{
        width: 10vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .linker{
        color:white;
        width: 80px;
        height: 80px;
        padding: 10px;
        text-align: center;
        border-radius: 15px;
        border: 3px solid #303030;
        margin: 10px;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tiktok{
        background: url("images/link_icons/tiktok.png") no-repeat;
    }
    .insta{
        background: url("images/link_icons/insta.png") no-repeat;
    }
    .wiki{
        background: url("images/link_icons/wiki.png") no-repeat;
    }
    .personal{
        background: url("images/link_icons/me.png") no-repeat;
    }
    .genshindle{
        background: url("images/link_icons/genshindle.jpg") no-repeat;
    }
    .hoyopage{
        background: url("images/link_icons/hoyoverse.png") no-repeat;
    }
    .hoyolab{
        background: url("images/link_icons/hoyolab.png") no-repeat;
    }

    .tiktok, .insta, .wiki, .genshindle, .hoyolab, .hoyopage, .personal{
        background-size: cover;
    }
    input:hover{
        transform: scale(1.1);
    }
</style>