<div class="sidebar">
    <div class="tiktok linker">TT</div>
    <div class="insta linker">Inst</div>
    <div class="wiki linker">Wiki</div>
    <div class="personal linker">Persn</div>
    <div class="genshindle linker">Gensh origi</div>
    <div class="hoyopage linker">hoyopage</div>
    <div class="hoyolab linker">hoyolab link</div>
</div>


<style>
    .sidebar{
        width: 10vw;
        height: 100vh;
        border: 10px solid aqua;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .linker{
        color:white;
        width: 80px;
        height: 80px;
        padding: 10px;
        text-align: center;
        border: 3px solid salmon;
        border-radius: 15px;
    }
    .linker :hover{
        box-shadow: 5px 5px 5px rgb(253, 139, 126);
        width: 85px;
        height: 85px;
    }
</style>