<div class="weapons">
    <div class="gameArea">
        <div class="playTime">
            <img id="normalModeImage" alt="skibidi" src="../public/images/placeholder.png" width="200" height="200">
        <div class="custom-select">
            <div class="select-header" onclick="toggleDropdown()">
                <span>Select a character</span>
                <span class="arrow">▼</span>
            </div>
            <div class="select-options" id="characterOptions">
                {{#each genshinCharacters}}
                <div class="option" data-value="{{id}}" onclick="selectCharacter(this)">
                    <img src="{{image}}" class="option-image">
                    <span class="option-text">{{name}}</span>
                </div>
                {{/each}}
            </div>
            <input type="hidden" id="selectedCharacter" name="character">
        </div>
        </div>
        <div class="winScreen">

        </div>
    </div>

</div>
