    {{> sidebar }}
    <div class="gayMain">
        {{> navbar }}
            <div class="letsPlay">
                {{#if (eq currentMode "normal")}}
                    {{> normal}}
                {{/if}}
                
                {{#if (eq currentMode "pixel")}}
                    {{> pixel}}
                {{/if}}

                {{#if (eq currentMode "color")}}
                    {{> color}}
                {{/if}}  

                {{#if (eq currentMode "cons")}}
                    {{> cons}}
                {{/if}} 

                {{#if (eq currentMode "talent")}}
                    {{> talent}}
                {{/if}} 
            </div>
    </div>

