    {{> sideBar }}
    <div class="gayMain">
        {{> navbar }}
        <div class="normalMode">
            <div class="gameArea">
                <div class="playTime">
                    <img id="normalModeImage" alt="skibidi" src="">
                    <select>
    
                    </select>
                </div>
                <div class="winScreen">

                </div>
            </div>
            <div class="characterDisplay">
                <img class="characterImage" alt="char" src="">
                <div class="charTalent">
                    <img alt="talet">
                </div>
                <div class="charElem">
                    <img>
                </div>
                <div class="charWeap">
                    <img>
                </div>
                <div class="charVer">
                    <p></p>
                </div>
                <div class="charNat">
                    <img>
                </div>
                <div class="charRar">
                    <p></p>
                </div>
                <div class="charMats">
                    <img>
                </div>
                <div class="charBoss">
                    <img>
                </div>
            </div>
        </div>
    </div>